doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Mavic
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.min.css")
    body
        header.header
            .container
                .header__inner(data-menuanchor="firstPage")
                    a.logo(href="#firstPage")
                        picture.logo__img
                            source(srcset="images/logo-mobile.png" media="(max-width: 600px)")
                            img(src="images/logo.png" alt="Logo")
                    nav.menu
                        ul.menu__list
                            li.menu__list-item
                                a.menu__list-link(href='#secondPage') О ДРОНЕ
                            li.menu__list-item
                                a.menu__list-link(href="#thirdPage") ПРЕИМУЩЕСТВА
                            li.menu__list-item
                                a.menu__list-link(href="#fourthPage") ХАРАКТЕРИСТИКИ
                            li.menu__list-item
                                a.menu__list-link(href="#fifthPage") ВОПРОСЫ
                            li.menu__list-item
                                a.menu__list-link(href="#sixthPage") КОНТАКТЫ
                    .header__info
                        button.header__btn КУПИТЬ
                        a.header__phone(href="tel: 80505676767") 8 (050) 567 67 67
        section.page-section.top
            .page-section__wrapper.top__wrapper
                .container
                    .top__inner
                        h1.top__title Mavic 2 Pro
                        img(src="images/mavic.png" alt="Mavic")
                        p.top__text Квадрокоптер Dji Mavic 2 Pro с профессиональной камерой Hasselblad
                        ul.top__social-list
                            li.top__social-item
                                a.top__social-link(href="#")
                                    img(src="images/facebook.svg" alt="Facebook")
                            li.top__social-item
                                a.top__social-link(href="#")
                                    img(src="images/youtube.svg" alt="Youtube")
                            li.top__social-item
                                a.top__social-link(href="#")
                                    img(src="images/instagram.svg" alt="Instagram")
                    .scroll__btn
                        a(href="#secondPage")
                            img(src="images/arrow-down.svg" alt="Next Page")
        section.page-section.product#secondPage
            .page-section__wrapper
                .container
                    h3.title.product__title Что такое Mavic 2 Pro?
                    .product__inner
                        .product__text 
                            p Дрон Mavic 2 Pro - это инженерное чудо, идеальное для аэросъемки. Дрон обладает всеми лучшими технологиями DJI, он преобразит мир аэросъемки.
                            p Mavic 2 Pro оснащен совершенно новой камерой Hasselblad L1D-20c. Камера L1D-20c работает по уникальной технологии Hasselblad Natural Colour Solution (HNCS)5, позволяющей пользователям делать великолепные снимки с воздуха с разрешением в 20 мегапикселей и потрясающими цветами.
                        .product__slider-box
                            .product__slider-text Лучшая беспилотная технология аэросъемки
                            .product__slider
                                .product__slider-item
                                    img.product__slider-img(src="images/slider-1.jpg" alt="Slider Image")
                                .product__slider-item
                                    img.product__slider-img(src="images/slider-1.jpg" alt="Slider Image")
                                .product__slider-item
                                    img.product__slider-img(src="images/slider-1.jpg" alt="Slider Image")
                                .product__slider-item
                                    img.product__slider-img(src="images/slider-1.jpg" alt="Slider Image")
                                .product__slider-item
                                    img.product__slider-img(src="images/slider-1.jpg" alt="Slider Image")
                                .product__slider-item
                                    img.product__slider-img(src="images/slider-1.jpg" alt="Slider Image")
                    .scroll__btn
                        a(href="#thirdPage")
                            img(src="images/arrow-down.svg" alt="Next Page")
        section.page-section.benefits#thirdPage
            .page-section__wrapper
                .container
                    h3.title.benefits__title Преимущества
                    .benefits__items
                        .benefits__item
                            .benefits__num 1
                            .benefits__img
                                img(src="images/benefits-1.jpg" alt="Benefits")
                            .benefits__info
                                h4.benefits__info-title Интеллектуальные режимы
                                p.benefits__info-text Mavic 2 унаследовал 6 стандартных режимов интеллектуальной съемки QuickShot: Roket/ Dronie/ Circle/ Helix/ Boomerang/ Asteroid. 
                        .benefits__item
                            .benefits__num 2
                            .benefits__img
                                img(src="images/benefits-2.jpg" alt="Benefits")
                            .benefits__info
                                h4.benefits__info-title Active Track 2.0
                                p.benefits__info-text Усовершенствованный режим второго поколения распознаёт и отслеживает объекты ещё точнее, быстрее и умнее.
                        .benefits__item
                            .benefits__num 3
                            .benefits__img
                                img(src="images/benefits-3.jpg" alt="Benefits")
                            .benefits__info
                                h4.benefits__info-title Панорамная съемка
                                p.benefits__info-text Mavic 2 поддерживает 4 режим панорамной съёмки: сферическая, 180 градусов  горизонтальная, вертикальная
                        .benefits__item
                            .benefits__num 4
                            .benefits__img
                                img(src="images/benefits-4.jpg" alt="Benefits")
                            .benefits__info
                                h4.benefits__info-title Крутая камера!
                                p.benefits__info-text Технология Hyperlapse в четырёх режимах исполнения. Улучшенный фото режим HDR. Функция HyperLight для съёмки в условиях слабого освещения 4К съёмка
                    .scroll__btn
                        a(href="#fourthPage")
                            img(src="images/arrow-down.svg" alt="Next Page")
        section.page-section.specification#fourthPage
            .page-section__wrapper
                .container
                    h3.title.specification__title Характеристики
                    .specification-inner
                        .specification__item
                            .specification__box.specification__box-1
                                h4.specification__box-title Dlog-M 10 бит
                                p.specification__box-text Mavic 2 Pro поддерживает цветовой профиль Dlog-M 10 бит с более широким динамическим диапазоном, дающим больше возможностей для цветокоррекции.
                            .specification__box.specification__box-2
                                h4.specification__box-title Камера Hasselblad
                                p.specification__box-text Камера Hasselblad L1D-20С известны эргономичным дизайном и превосходным качеством изображений.
                        .specification__item.specification__item--center
                            img.specification__img(src="images/mavic.png" alt="Drone")
                        .specification__item
                            .specification__box.specification__box-3
                                h4.specification__box-title Матрица CMOS 1
                                p.specification__box-text Зона активной работы новой 1-дюймовой матрицы CMOS в четыре раза превышает показатели Mavic Pro
                            .specification__box.specification__box-4
                                h4.specification__box-title Видео HDR
                                p.specification__box-text Благодаря поддержке видео 4K HDR 10 бит, Mavic 2 Pro можно подсоединить к совместимому с HLG 4K ТВ и просматривать запись в полном цветовом спектре
                    .scroll__btn
                        a(href="#fifthPage")
                            img(src="images/arrow-down.svg" alt="Next Page")
        section.page-section.questions#fifthPage
            .page-section__wrapper
                .container
                    h3.title.questions__title Остались вопросы?
                    .questions__items
                        .questions__item
                            h4.questions__item-title Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?
                            p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                        .questions__item.questions__item--active
                            h4.questions__item-title Чем Mavic 2 лучше Mavic Pro?  
                            p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                        .questions__item
                            h4.questions__item-title Можно ли подключить Mavic 2 к очкам DJI Goggles?
                            p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                        .questions__item
                            h4.questions__item-title Является ли Mavic 2 водонепроницаемым？
                            p.questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                    .scroll__btn
                        a(href="#sixthPage")
                            img(src="images/arrow-down.svg" alt="Next Page")
        section.page-section.contacts#sixthPage
            .page-section__wrapper
                .container 
                    h3.title.contacts__title Контакты
                    .contacts__inner
                        .contacts__info
                            .contacts__info-box
                                p.contacts__info-title Киев
                                a.contacts__info-text(href="tel: +80505676767") +8 (050) 567– 67 – 67
                                a.contacts__info-text(href="mailto:dgi.mavic2pro.kiev@mail.ru") dgi.mavic2pro.kiev@mail.ru
                            .contacts__info-box
                                p.contacts__info-title Москва
                                a.contacts__info-text(href="tel: +74995676767") +7 (499) 567– 67 – 67
                                a.contacts__info-text(href="mailto: dgi.mavic2pro.moscow@mail.ru") dgi.mavic2pro.moscow@mail.ru
                            .contacts__info-box
                                p.contacts__info-title Минск
                                a.contacts__info-text(href="tel: +375175676767") +3 (7517) 567– 67 – 67
                                a.contacts__info-text(href="mailto: dgi.mavic2pro.minsk@mail.ru") dgi.mavic2pro.minsk@mail.ru
                        .contacts__form
                            h4.contacts__form-title Остались вопросы?
                            p.contacts__form-text Мы обязательно свяжемся с вами в течение двух рабочих дней
                            .contacts__form-line
                                input.contacts__form-input(type="text" placeholder="Ваше имя")
                                input.contacts__form-input(type="email" placeholder="Ваше e-mail")
                                textarea.contacts__form-textarea(placeholder="Что вас интересует?") 
                                button.contacts__form-btn(type="submit") ОТПРАВИТЬ
                        ul.contacts__social-list
                            li.contacts__social-item
                                a.contacts__social-link(href="#")
                                    img(src="images/facebook.svg" alt="Facebook")
                            li.contacts__social-item
                                a.contacts__social-link(href="#")
                                    img(src="images/youtube.svg" alt="Youtube")
                            li.contacts__social-item
                                a.contacts__social-link(href="#")
                                    img(src="images/instagram.svg" alt="Instagram")
        footer.footer
            .container
                p.footer__copy © DJI, 2020
    script(src="js/main.min.js")